head, body {
    text-align: center;
    background: rgba(4, 92, 4, 0.5);
}

#home-button {
    float: right;
    width: 70px;
    padding: 10px;
    margin: 20px;
}

#upload-button {
    float: right;
    width: 100px;
    padding: 10px;
    margin: 20px;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

#sentence-header {
    text-align: center;
    float: center;
}

.content {
    text-align: center;
    float: center;
}

#photo {
    margin: 50px;
    float: center;
    text-align: center;
}
