<!-- Welcome Page -->
<!DOCTYPE html>
<html>
    <head>
        <title id="title">hackxplore</title>
        <div id="home-button" class="ui blue basic button"><a href="/">HOME</a></div>
        <div id="upload-button" class="ui blue basic button"><a href="/upload">RE-UPLOAD</a></div>

        <link rel="stylesheet" type="text/css" href="../static/css/text.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    </head>
    <body>
        <h1> </h1>
        <h1>text</h1>

        <div>
            <img src={{ photo }} alt="Handwritten Text" width=300 height=400>
        </div>  
        
        <div id="sentence" class="sentence">
            <div class="ui segment">
                {% for word in writing %}
                    {% if word[1] == None %}
                        <span class=correct style="color:black">{{ word[0] }}</span>
                    {% endif %}
                    {% if word[1] != None %}
                        <span class=wrong style="color:red">{{ word[0] }}</span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        
        
    </body>
</html>

<!--
    {% for post in posts %}
        <div id="post1" class="post">
            <div class="ui segment">
                <h3>{{post["title"]}}</h3>
                <p><b>{{post["username"]}}</b>: {{post["description"]}}</p>
            </div>
        </div>
    {% endfor %}

    

-->