<!-- Welcome Page -->
<!DOCTYPE html>
<html>
    <head>
        <title id="title">hackxplore</title>
        <div id="home-button" class="ui blue basic button"><a href="/">HOME</a></div>
        <div id="upload-button" class="ui blue basic button"><a href="/upload">RE-UPLOAD</a></div>

        <link rel="stylesheet" type="text/css" href="../static/css/text.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    </head>
    <body>
        <h1> </h1>
        <h1>text</h1>
        <p>{{ writing }}</p>
    </body>
</html>