<!-- Predict Page -->
<!DOCTYPE html>
<html>
  <head>
    <div id="home-button" class="ui blue basic button"><a href="/">HOME</a></div>
    <title>Upload new File</title>

    <link rel="stylesheet" type="text/css" href="../static/css/upload.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  </head>
  <body>
    <h1> </h1>
    <h1 id="file-upload">Upload new File</h1>
    <form method='post' enctype='multipart/form-data'>
      <input type='file' name='file', accept=".jpg, .jpeg">
      <input type='submit' value='Upload'>
    </form>
  </body>
</html>